button.login {
    position: absolute; 
    width: 80px;
    left:50%;
    margin-left: -40px ;
    font-family: Arial;
    color: #ffffff;
    background-color: #FD8E1A;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  input {
    position: absolute;
    width: 200px;
    left:49%;
    margin-left: -100px ;
    height: 12px;
    background-color: #eee;
	  border: none;
	  padding: 12px 15px;
	    
  }

  p.label{
    position: absolute;
    width: 200px;
    left:49%;
    margin-left: -100px ;
    font-family: Arial;
    font-size: 14px;
  }

  p.message{
    position: absolute;
    width: 300px;
    left:50%;
    margin-left: -150px ;
    font-family: Arial;
    font-size: 14px;
    color: #ff0000;
    text-align: center;
  }

  img.logoColmena{
      position: absolute;
      height: 100px;
      width: 260px;
      left:50%;
      margin-left: -130px; 
  }

  div.login{
      position: absolute;
      margin-top: 100px;
      width: 100%;
      height: 200px;
  }

  div.footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #FAC13F;
    width: 100%;
    height: 5%;
  }



