div.contLeft{
  position: absolute;
  width: 250px;
  height: 78%; 
  margin-top: 100px;
}

div.contRigth{
  position: absolute;   
  height: 78%;
  margin-left: 250px;
  margin-top: 100px;
}

div.contTop{
  position: absolute;   
  height: 100px; 
  width: 98%;
  min-width: 1000px;
}

div.grid{
  align-self: center;
  display: grid;
  grid-template-columns: minmax(200px, 450px)  minmax(200px, 450px) minmax(200px, 450px);
}

div.subGrid{
  margin-top: 5%;
  color: #666666;
}

div.title{
  font-size: 60%;
  margin-left: 5%;
  height: 60px;
}
div.contain{
 min-width: 1000px;
}

div.footer{
  bottom: 0;
  position: fixed;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #FAC13F;
  width: 100%;
  height: 5%;
}

li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #0C8BA4;
  color: #ffffff;
  margin: .5em;
  padding: .3em 0;
  height: 1.4em;
  border-radius: 4px;
  font-family: Arial;
  font-size: 14px;
  list-style:none;
  text-align: center;
  border: none;
}

li:hover {
  color: #ffffff;
  background-color: #FAC13F;
  left: .1em;
  border: none;
}

img.producImages{
  margin-left: 5%;
  margin-top: 4%;
  width: 90%;
}

img.logoColmena{
  width: 210px;
  margin-left: 20px;
}

button.logOut{
  position: absolute;
  font-family: Arial;
  margin-top: 40px;
  width: 120px;
  left: calc(100% - 120px);
  font-size: 14px;
}

p.title{
  position: absolute;
  top: 0px;
  width: 300px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

     

 
